@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #15151c;
  color: #ECE7DA;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #1d1d26;
}
::-webkit-scrollbar-thumb {
  background: #2a2a38;
  border-radius: 3px;
}
